@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap);
$SansPro: 'Source Sans Pro', sans-serif;

.home__grid{
    position: relative;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.image__card{
    position: relative;
    display: block;
    width: 50%;
    height: 350px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1000px rgb(0 0 0 / 20%) inset;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    &.hover{
        box-shadow: 0 0 0 1000px rgb(0 0 0 / 40%) inset;
        .info__container{
            .title::before{
                width: 100px;
            }
        }
        .controls{
            transition: .5s all;
            visibility: visible;
            opacity: 1;
        }
    }
}

.info__container{
    position: absolute;
    bottom: 0;
    padding: 30px;
    font-family: $SansPro;
    color: white;
    .title{
        position: relative;
        font-weight: 600;
        font-size: 40px;
        line-height: 42px;
        margin: 10px 0;
        &::before{
            content: " ";
            display: block;
            position: absolute;
            bottom: -8px;
            height: 8px;
            width: 0;
            background-color: #fff;
            left: 0;
            right: 0;
            transition: all .5s;
        }
    }
    .comments{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-style: italic;
        font-size: 16px;
        p{
            margin-right: 5px;
        }
    }
    .short__desc{
        width: 75%;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .category{
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
    }
    .controls{
        position: absolute;
        right: 20px;
        bottom: 30px;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: row;
        button{
            box-sizing: border-box;
            position: relative;
            user-select: none;
            cursor: pointer;
            outline: 0;
            border: none;
            -webkit-tap-highlight-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            text-decoration: none;
            vertical-align: baseline;
            text-align: center;
            margin: 0;
            overflow: visible;
            position: relative;
            &.btn__control{
                padding: 0;
                min-width: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                background-color: transparent;
                transition: background 0.8s;
            }
            &.btn__control:active{
                background-color: rgba($color: #fff, $alpha: .30);
                background-size: 100%;
                transition: background 0s;
            }
            i::before{
                color: white;
                font-size: 22px;
            }
        }
    }
}