<div class="overlay__container">
    <div class="overlay__background"></div>
    <div class="overlay__wrapper">
      <div class="post__container">
        <h3 class="title">Create Post</h3>
        <div class="information__container">
          <div class="input box">
            <input type="text" name="title" [(ngModel)]="post.title" required>
            <label>Title</label>
            <div class="bar"></div>
            <div class="highlight"></div>
         </div>
          <div class="input box">
            <input type="text" name="description" [(ngModel)]="post.description" [(ngModel)]="post.shortDescription" required>
            <label>Description</label>
            <div class="bar"></div>
            <div class="highlight"></div>
         </div>
         <div class="select box">
            <select class="select-text" [(ngModel)]="post.category" required>
              <option value="" disabled selected></option>
              <option value="travel">Travel</option>
              <option value="lifestyle">Lifestyle</option>
              <option value="business">Business</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Category</label>
          </div>
          <div class="input box">
            <input type="text" name="image" [(ngModel)]="post.image" value="https://source.unsplash.com/random" required>
            <label>URL of the image</label>
            <div class="bar"></div>
            <div class="highlight"></div>
         </div>
        </div>
        <div class="btns__container">
            <button class="btn cancel" (click)="toggleOverlay()">Cancel</button>
            <button class="btn save" type="submit" (click)="onSavePost()" >Save</button>
        </div>
      </div>
    </div>
</div>
