<div class="header__container">
      <div class="card-container">
    
        <div class="nav__element card card-small active" (click)="handleNavBar($event)" data-category="all" tabindex="0">
          <p>All</p>
        </div>
        
        <div class="nav__element card card-small" (click)="handleNavBar($event)" data-category="travel" tabindex="0">
          <p>Travel</p>
        </div>
        
        <div class="nav__element card card-small" (click)="handleNavBar($event)" data-category="lifestyle" tabindex="0">
          <p>Lifestyle</p>
        </div>
        
        <div class="nav__element card card-small" (click)="handleNavBar($event)" data-category="business" tabindex="0">
          <p>Business</p>
        </div>
    
    </div>
</div>

<home-grid></home-grid>

<button class="btn__fixed" (click)="toggleOverlay()">
    <i class="fa fa-pencil"></i>
</button>

<btn-post-create></btn-post-create>